# =========================
# BINARIES / EXECUTABLES
# =========================
client_app
server_app
test_command_parser
test_state
test_response_tcp

# Generic executables (Linux/Windows)
*.out
*.exe
*.app

# =========================
# C BUILD FILES
# =========================
*.o
*.a
*.so

# =========================
# COVERAGE / GCOV / LCOV
# =========================
*.gcda
*.gcno
*.gcov
coverage.info
coverage_report/

# =========================
# LOG FILES
# =========================
logs/
*.log

# =========================
# TEMP FILES
# =========================
*~
*.swp
*.swo

# =========================
# ENV / SENSITIVE CONFIG
# =========================
.env
.env.*
!.env.example

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# IDE / EDITOR
# =========================

# VSCode
.vscode/

# CLion / IntelliJ
.idea/
cmake-build-*/

# =========================
# OS FILES
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db


#OpenCode
.memsearch/*
